.banner-ttl
{
    text-decoration: none;
    position: relative;
    width: 100%;
    font-weight: bold;
    color: #fff;
    font-family: cursive;
}
.ip
{
    margin-left: 120px;
    color: rgb(1, 14, 98);
}

.d-n
{
    width: 100px;
    font-size: 15px;
    float: right;
}
video
{
    height: 70%;
    width: 100%;
    border-style: ridge;
    border-radius: 50px;
    border-color: #040039;
    border-width: 15px;
}
.nav-link:hover
{
    background-color: #141414;
}



  .copy {
    
    padding: 12px;
}
.cpy_rght {
    color: #c3c2c2;
    padding: 6px 20px;
    font-size: 14px;
    background-color: #383838;
}